.cardImg {
  border-radius: 20% !important;
  width: 40%!important;
  height: auto;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
  display:block;
  opacity: 0.85;
  margin-top: 20px;
}
