@import '../../../../variables.scss';

.data-map {
  flex: 1 0;
  min-height: 20rem;

  h5 {
    position: absolute;
    z-index: 900;
    top: 1rem;
    right: 1rem;
    font-family: $font-family-alt;
    color: $primary;
    background: rgba(white, 0.7);
    padding: 0.5rem;
    border-radius: $border-radius;
  }
}

.sticky-map {
  margin: -1rem -1rem 1rem -1rem;
}

.leaflet-bottom {
  z-index: 999;
}

.data-map-loading {
  position: absolute;
  top: 5.2rem;
  left: 0.8rem;
  z-index: 900;
  width: 2rem;
  height: 2rem;
}

.leaflet-container {
  background-color:rgba(212,218,220,1);
}