@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans:400,700,800');
@import 'bootstrap/scss/functions.scss';

$primary:   #096396;
$secondary: #dee2e6;

$a: #54BA46;
$b: #FFFF39;
$c: #FF9326;
$d: #C92429;
$n: #AAAAAA;

$community:          #89AE00;
$system:             #0093B4;
$service-provider:   #11A891;
$technical-provider: #5F5646;
$school:             #B086B8;
$health-center:      #CC705D;

$font-family-base: 'Open Sans', sans-serif;
$font-family-alt: 'Nunito', sanf-serif;

@import 'bootstrap/scss/variables.scss';
