@import '../../../variables.scss';

.page-header {
  margin: -1rem -1rem 1rem -1rem;
  min-height: 60px;

  h5 {
    font-family: Nunito, 'Open Sans', sans-serif;
    line-height: 2rem;
    margin-bottom: 0;
  }
}
