@import '../../../variables.scss';

.score-tree {
  width: 100%;
  min-height: 20rem;
  background-color: $light;
  border-radius: $border-radius;
}

.score-tree-circle {
  stroke: $dark;
}

.score-tree-line {
  stroke: $dark;
}

.score-tree-text {
  text-anchor: middle;
  font-size: 1.5rem;
}

.score-tree-text-A, .score-tree-text-D {
  fill: $light;
}

.score-tree-text-B, .score-tree-text-C {
  fill: $black;
}
